  
  <div class="intro">
  <% unless @user %>
    <div class="call container-fluid">
      <h2>Can I afford that house?</h2>
      <p>Sign up and be able to save your results or find out right now...</p>
      <span class="action-btns container-fluid"><a class="btn btn-success sign-up" href="#">Sign Up</a> <a class="btn btn-primary" href="#new-search">Find out</a></span>
    </div>
    <% end %>
  </div>

  <% unless @user %>
  <div id="signin" class="my-modal text-center hidden">
  <button type="button" class="close sign-in" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>Sign In</h2>
   <%= form_tag("/users/signin", method: "post") do %>
      <%= label_tag(:email, "Email:") %> <br>
      <%= text_field_tag(:email) %> <br>
      <%= label_tag(:password, "Password:") %> <br>
      <%= password_field_tag(:password) %> <br> <br>
      <%= submit_tag("Sign In", class: "btn btn-primary") %>
    <% end %>
  </div>

  <div id="signup" class="my-modal hidden">
  <button type="button" class="close sign-up" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="text-center">Sign Up</h2> <br>
   <%= form_for User.new, method: "post" do |f| %>
      <p><%= f.label(:first_name, "First Name:") %> <%= f.text_field(:first_name) %> </p>
      <p><%= f.label(:last_name, "Last Name:") %> <%= f.text_field(:last_name) %> </p>
      <p><%= f.label(:email, "Email:") %>
      <%= f.text_field(:email) %> </p>
      <p><%= f.label(:password, "Password:") %>
      <%= f.password_field(:password) %> </p>
      <p><%= f.label(:annual_income, "Annual Income:") %> <%= f.text_field(:annual_income) %> </p>
      <p><%= f.label(:budgeted_monthly_pmt, "Monthly Mortgage Desired:") %> <%= f.text_field(:budgeted_monthly_pmt) %> </p>
      <p><%= f.label(:down_pmt, "Expected Down Payment:") %> <%= f.text_field(:down_pmt) %> </p>
      <p><%= f.label(:monthly_debt, "Monthly Debt:") %> <%= f.text_field(:monthly_debt) %> </p>

      <%= f.submit("Sign Up", class: "btn btn-primary text-center") %>
    <% end %>
  </div>
  <% end %>
  
  <div id="prev-search" class="container">
    <h1><%= "#{@user.first_name}'s" if @user %> Previous Searches</h1>
    <p>The list below are of previous searches made</p>
    <ul class="list-group"></ul>
  </div>

  <%= image_tag("wall1", class: "img-sep") %>

  <div id="new-search" class="container">
    <h1>Search Form</h1>
    <%= form_tag("/search", method: "post", class: "search-form") do %>
      <p><%= label_tag(:monthlypayment, "Monthly Mortgage Desired:") %>
      <%= number_field_tag(:monthlypayment, (@user.budgeted_monthly_pmt.to_i if @user) ) %> --or--  
      <%= label_tag(:annualincome, "Annual Income:") %>
      <%= number_field_tag(:annualincome, (@user.annual_income.to_i if @user)) %></p>
      <p><%= label_tag(:down, "Expected Down Payment:") %>
      <%= number_field_tag(:down, (@user.down_pmt.to_i if @user)) %></p>
      <p><%= label_tag(:monthlydebts, "Current Monthly Debt:") %>
      <%= number_field_tag(:monthlydebts, (@user.monthly_debt.to_i if @user)) %></p>
      <p><a href="#" class="result-toggle">Show Other Options</a></p>
      <div class="adv-options hidden">
        <p><%= label_tag(:rate, "Expected Interest Rate (%):") %><%= number_field_tag(:rate) %></p>
        <p>You may select an amortization schedule below: <br>
        <%= radio_button_tag(:schedule, "none") %> <%= label_tag(:schedule, "None") %> <%= radio_button_tag(:schedule, "yearly", :checked) %> <%= label_tag(:schedule, "Yearly") %> <%= radio_button_tag(:schedule, "monthly") %> <%= label_tag(:schedule, "Monthly") %> <%= radio_button_tag(:schedule, "both") %> <%= label_tag(:schedule, "Both") %></p>
        <p><%= label_tag(:term, "Desired Mortgage Term: ") %>
      <%= number_field_tag(:term, "30") %> years</p>
      <p><%= label_tag(:debttoincome, "Debt-to-income Ratio Limit (%):") %>
      <%= number_field_tag(:debttoincome, "36") %></p>
      <p><%= label_tag(:incometax, "Estimated Income Tax rate (%):") %>
      <%= number_field_tag(:incometax, (@user.tax_rate || 30 if @user)) %></p>
      <p><%= check_box_tag(:estimate) %> <%= label_tag(:estimate, "Estimate (PMI, hazard insurance and property tax, and returns them)?") %></p>
      <p>Zipcode must be provided to correctly estimate premiums and taxes <br>
      <%= label_tag(:zip, "Desired Zipcode:") %>
      <%= text_field_tag(:zip) %></p>
      <p><%= label_tag(:hazard, "Expected Hazard Insurance Premium:") %>
      <%= number_field_tag(:hazard) %></p>
      <p><%= label_tag(:pmi, "Expected PMI Premium:") %>
      <%= number_field_tag(:pmi) %></p>
      <p><%= label_tag(:propertytax, "Expected Property Tax:") %>
      <%= number_field_tag(:propertytax) %></p>
      <p><%= label_tag(:hoa, "Expected Monthly HOA Fees:") %>
      <%= number_field_tag(:hoa, "0") %></p>
      </div>

      <%= submit_tag("Estimate", class: "btn btn-primary") %>
    <% end %>
  </div>

  

  <div id="search-result" class="invisible">
    <%= image_tag("home2", class: "res-img") %>
    <h2>Search Result</h2>
    <p class="col-md-12"><a href="#search-result" class="result-toggle">Hide Parameters</a></p>
    <div class="request"></div>
    <br>
    <p class="col-md-12"><a href="#search-result" class="result-toggle">Hide Affordability</a></p>
    <div class="response">
    <ul class="list-group"></ul>
    </div>
    <br>
    <p class="col-md-12"><a href="#search-result" class="result-toggle">Show Amortization</a></p>
    <div class="amortization">
    </div>
  </div>

  <% if @user %>
  <div id="user-details">
    <div class="edit-user my-modal hidden">
    <button type="button" class="close show-user" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
      <h3 class="text-center">Edit User</h3>
      <%= form_for @user do |f| %>
      <p><%= f.label :first_name, "First Name:" %> <%= f.text_field :first_name %></p>
      <p><%= f.label :last_name, "Last Name:" %> <%= f.text_field :last_name %></p>
      <p><%= f.label :email, "Email:" %> <%= f.text_field :email %></p>
      <p><%= f.label :annual_income, "Annual Income:" %> <%= f.number_field :annual_income %></p>
      <p><%= f.label :budgeted_monthly_pmt, "Budgeted Monthly Payment:" %> <%= f.number_field :budgeted_monthly_pmt %></p>
      <p><%= f.label :down_pmt, "Down Payment:" %> <%= f.number_field :down_pmt %></p>
      <p><%= f.label :monthly_debt, "Monthly Debt:" %> <%= f.number_field :monthly_debt %></p>
      <p><%= f.label :tax_rate, "Tax Rate:" %> <%= f.number_field :tax_rate %></p>
      <p><%= f.label :term_months, "Mortgage Term in months:" %> <%= f.number_field :term_months %></p> <br>
      <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="detail container">
      <h3>User Details <a href="#" class="small show-user">edit</a></h3>
      <p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
      <p>Email: <%= @user.email %></p>
      <ul class="list-group col-md-7">
        <li class="list-group-item"><span class="badge"><%= number_to_currency(@user.annual_income) %></span>Annual Income</li>
        <li class="list-group-item"><span class="badge"><%= number_to_currency(@user.budgeted_monthly_pmt) %></span>Budget Monthly Payment</li>
        <li class="list-group-item"><span class="badge"><%= number_to_currency(@user.down_pmt) %></span>Planned Down Payment</li>
        <li class="list-group-item"><span class="badge"><%= number_to_currency(@user.monthly_debt) %></span>Monthly Debt</li>
        <li class="list-group-item"><span class="badge"><%= @user.tax_rate %>%</span>Tax Rate</li>
        <li class="list-group-item"><span class="badge"><%= @user.term_months %>months</span>Mortgage Term (in months)</li>
      </ul>  
    </div>
  </div>
  <% end %>
